<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.bluehelix.imessage-2fa</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7B86D057-DA8E-4302-AF17-83B889B48EE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>579C566A-EAC9-4F0C-A398-0A4D25EB7251</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F66B4E67-AAD4-4597-9902-E084CCFAE32F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy the 2FA code to your clipboard and paste it into the active application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D26FE0D-9464-426E-8EAA-03376F20B9CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F66B4E67-AAD4-4597-9902-E084CCFAE32F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E71F597-EA2F-4B39-B8E4-69A3D625872E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Scott Carpenter</string>
	<key>description</key>
	<string>Find two-factor authentication codes in your recent iMessage messages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iMessage 2FA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>2fm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding two-factor authentication codes...</string>
				<key>script</key>
				<string>php find-messages.php</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find two-factor authentication codes...</string>
				<key>title</key>
				<string>iMessage 2FA</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B86D057-DA8E-4302-AF17-83B889B48EE2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied 2FA code "{query}" to clipboard</string>
				<key>title</key>
				<string>iMessage 2FA</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>579C566A-EAC9-4F0C-A398-0A4D25EB7251</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F66B4E67-AAD4-4597-9902-E084CCFAE32F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'tell application "System Events" to keystroke the clipboard as text'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E71F597-EA2F-4B39-B8E4-69A3D625872E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3D26FE0D-9464-426E-8EAA-03376F20B9CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Find two-factor authentication codes in your recent iMessage messages.

## Usage

Type `2fm` to view the most recent two-factor authentication codes from iMessage messages.

Select a 2FA code and press `&lt;enter&gt;` to copy it to your clipboard. Press `⌘+&lt;enter&gt;` to copy it to your clipboard and also paste it into the active app window.</string>
	<key>uidata</key>
	<dict>
		<key>3D26FE0D-9464-426E-8EAA-03376F20B9CA</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>3E71F597-EA2F-4B39-B8E4-69A3D625872E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>579C566A-EAC9-4F0C-A398-0A4D25EB7251</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>7B86D057-DA8E-4302-AF17-83B889B48EE2</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F66B4E67-AAD4-4597-9902-E084CCFAE32F</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/squatto/alfred-imessage-2fa/</string>
</dict>
</plist>
